node_modules
.DS_Store

/.cache
/app/build
/public/build/
/public/_dev
/app/public/build
/public/uploads
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
shopify.app.storywall.toml
FLY_DEPLOYMENT.md
.env
.env.*





/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock